/* подключение локальный шрифтов на страницу */
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* сброс стилей по умолчанию */
  body,
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  
  /* задание шрифта всей странице */
  body {
    font-family: "Anonymous Pro", sans-serif;
  }
  
  /* стили для главного контейнера */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
  }
  
  /* стили для хедера(шапки) сайта */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    border-bottom: 1px solid #a1a6b4;
    background: white;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
  }
  
  .logo-link {
    max-width: 215px;
  }
  
  /* стили для ссылок в хедере и футере */
  nav {
    display: flex;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
  }
  
  .nav-item {
    display: inline;
  }
  
  .nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
  }
  
  menu {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    margin: 20px 10px;
    padding: 0;
  }
  .menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .nav-item:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  /* стили для  */
  .content {
    margin: 32px 0;
    max-width: 1140px;
  }
  
  h1 {
    font-size: 48px;
  }
  
  /* стили для контейнера кроссовок */
  .sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 32px 0 0;
  }
  
  /* стили для карточки кроссовок */
  .sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: white;
  }
  
  .sneaker-image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  
  .sneaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 32px 24px;
  }
  
  h3 {
    font-size: 26px;
  }
  
  p {
    font-size: 20px;
  }
  
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
  }
  
  /* стили для футера */
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
  }
  
  .footer__logo-link {
    max-width: 300px;
    width: 100%;
  }
  
  footer .nav-link {
    color: white;
  }
  
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #a1a6b4;
  }
  
  .copyright-text {
    color: #a1a6b4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
  }
  
  @media (max-width: 500px) {
    .header-container,
    .footer-content {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .menu-list {
      flex-direction: column;
      gap: 10px;
    }
    .content h1 {
      font-size: 24px;
      text-align: center;
    }
    .sneakers {
      justify-content: center;
    }
    .sneaker {
      max-width: 343px;
    }
  }
  